# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual environments
env/
venv/
ENV/
.venv/
.Python

# Django stuff
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyInstaller
*.spec
build/
dist/

# Static files (collected)
staticfiles/

api/settings/development.py